# API
fastapi         # API framework
pytz            # time zone management
uvicorn         # web server

streamlit
ultralytics==8.3.187
torch
pillow
numpy
pandas
opencv-python-headless
google-cloud-storage

